on:
  push:
    branches: [ "main"]
jobs:
  test:
    runs-on: 
      - self-hosted
      - x86_64
    container: node:23-alpine3.22
    steps:
      - name: checkout
        uses: actions/checkout@v4
      
      - name: login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
  
      - name: build
        run: docker build -t ech00s/devc-cli:alpha0.1.0 .
      
      - name: push
        run: docker push ech00s/devc-cli:alpha0.1.0 .